<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
</head>
<body>
    <div class="container">
        <h2>User Login</h2>
        <form action="/new_password" method="post">
            {% if error_message %}
            <p style="color: red;">{{ error_message }}</p>
            {% endif %}
            <label for="name">Name(loggin):</label><br>
            <input type="text" id="name" name="name" required><br>

            <p>After entering your name (login), a new password will be sent to your e-mail. If there is 
                no such user, then the password can be sent to the mail</p>

            <button type="submit">Login</button>
        </form>
        <!-- <p>Don't have an account? <a href="/">Register here</a>.</p>
        <p>Forget password and want to take new? <a href="/new_password">Click here</a>.</p> -->
    </div>
    
</body>
</html>